* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#topo-pagina {
  background-color: #e0b100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px;
}

.menu-hamburguer {
  position: absolute;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

#menu {
  display: flex;
  gap: 150px;
  list-style: none;
  padding: 0;
  margin-left: 10rem;
}

#menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

#menu a:hover {
  color: black;
}

#logo {
	display: flex;
	align-items: center;
	cursor: pointer;
}

#logo img {
	height: 80px;
	margin-top: 8px;
}












