* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#topo-pagina {
  background-color: #e0b100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 40px;
  position: relative;
}

.menu-hamburguer {
  position: absolute;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

#logo {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding-left: 30px;
}

#menu {
  display: flex;
  gap: 10rem;
  list-style: none;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

#menu a:hover {
  color: black;
}

#logo img {
	height: 80px;
	margin-top: 8px;
}

.user-info {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;
}

.user-avatar {
	width: 59px;
	height: 59px;
	border-radius: 50%;
	object-fit: cover;
	border: none;
	cursor: pointer;
	margin-right: 10px;
}











