\\verificar as outras paginas
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.topo-pagina {
	background-color: #c89c00;
	padding: 15px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
}	

.menu-hamburguer {
	font-size: 24px;
	cursor: pointer;
	color: black;
}

.menu {
	display: flex;
	gap: 40px;
}

.menu a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s;
}

.menu a:hover {
	background-color: #c89c00;
	border-radius: 4px;
}













