body {
	background-color: #ffffff;
}

.container-formulario {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 80px);
}

form {
	background-color: #fff;
	padding: 30px 40px;
	border-radius: 10px;
	max-width: 800px;
	width: 100%;
	box-shadow: 0 0px 0px rrgb(255, 255, 255)
}

form .formulario {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

form .formulario-grupo {
	flex: 1;
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	border-color: #ffcc00;
 	outline: none;
}

p {
	margin-top: 10px;
	font-size: 14px;
	padding: 0 0 15px;
}

p a {
	color: #d4b000;
	text-decoration: none;
	margin-left: 5px;
}

p a:hover {
	text-decoration: underline;
}

.button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

button {
	padding: 10px 30px;
	border: none;
	border-radius: 6px;
	background-color: #ffe564;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #fdd835;
}

.passo-um {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto 30px auto;
	padding-top: 8px;
	max-width: 800px;
}

.ativar {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 5px;
	min-width: 120px;
}

.circulo {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #f5f5f5;
	border: 2px solid #ffd600;
	color: #ffd600;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 18px;
	transition: all 0.3s ease;
}

.ativar span {
	margin-top: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #333;
	white-space: nowrap;
	text-align: center;
}

.linha {
	width: 250px;
	height: 3px;
	background-color: black;
	margin: 0 -5px;
}

.ativar.guia .circulo {
	background-color: #ffd600;
	color: white;
}

.ativar.completed + .linha {
	background-color: #ffd600;
}



















